{% extends 'AdminMainBundle::layout.html.twig' %}
{% block stylesheets %}
    <style>
        .btn {
            margin-right: 8px;
        }

        .angular-ui-tree-handle {
            background: #f8faff;
            border: 1px solid #dae2ea;
            color: #7c9eb2;
            padding: 10px 10px;
        }

        .angular-ui-tree-handle:hover {
            color: #438eb9;
            background: #f4f6f7;
            border-color: #dce2e8;
        }

        .angular-ui-tree-placeholder {
            background: #f0f9ff;
            border: 2px dashed #bed2db;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .bg-red {
            border: 1px solid red;
            background: #b94a48;
            color: white;
        }

        .bg-red:hover {
            color: white;
            background: #a94442;
            border-color: red;
        }

        .group-title {
            background-color: #687074 !important;
            color: #FFF !important;
        }
    </style>
{% endblock stylesheets %}
{% block corps %}
    <div id="corps-container" class="admin-container no-right-column">
        {% include "NaturaPassMainBundle:Include:flash.html.twig" %}
        <div class="container container-md" ng-controller="CategoryTreeController" ng-init="init({{ receiver.id }})" ng-cloak>
            <h1>Arborescence des catégories de l'entité : {{ receiver.name }}
                <a href="" class="btn btn-default pull-right icon-arrow-up" ng-if="down1" ng-click="collapseAll('#tree-root')"></a>
                <a href="" class="btn btn-default pull-right icon-arrow-down" ng-if="!down1" ng-click="expandAll('#tree-root')"></a>
            </h1>
            {% verbatim %}
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content"  ng-class="{'bg-red': !node.visible}" data-nodrag>
                      <a class="btn btn-success btn-xs" ng-if="node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
                        </span>
                      </a>
                      {{node.title}}
                      <a class="pull-right btn btn-danger btn-xs" ng-show="node.visible" data-nodrag ng-click="deleteNode(node)"><span
                            class="icon-eye-blocked" title="Supprimer la catégorie"></span></a>
                        <a class="pull-right btn btn-danger btn-xs" ng-hide="node.visible" data-nodrag ng-click="restoreNode( node)"><span
                            class="icon-eye" title="restaurer la catégorie"></span></a>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                      <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                      </li>
                    </ol>
                </script>

                <div class="row">
                    <div class="col-sm-12">
                      <div ui-tree id="tree-root">
                        <ol ui-tree-nodes ng-model="data">
                          <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                      </div>
                    </div>
                </div>
                <form action="{% endverbatim %}{{ path('admin_entity_receiver_tree', {receiver:receiver.id}) }}{% verbatim %}" method="POST" name="tree" role="form" enctype="multipart/form-data">
                    <input type="hidden" name="tree" value="{{ data | json }}">
                    <button class="btn btn-primary btn-right btn-icon icon-checkmark" type="submit">{{ 'button.validate'|trans:{}: 'global' }}</button>
                </form>
            {% endverbatim %}
        </div>
    </div>
    {% include "AdminZoneBundle:Modal:angular.remove-entity-zone.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts package='assetic' filter='?yui_js'
    'js/app/controllers/Admin/Receiver/CategoryControllersReceiver.js'
    'js/app/controllers/Admin/Receiver/CategoryModalController.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}