{% extends "NaturaPassLoungeBundle::layout.html.twig" %}

{% block title %}{{ 'title.invite'|trans({},translation_name~'group') }} | {{ parent() }}{% endblock %}

{% block corps %}

    <div id="corps-container"  {% if visibility.social_network == false %}class="hide-right"{% endif %}>
        {% include "NaturaPassMainBundle:Include:flash.html.twig" %}
        <div class="container container-md container-invite" ng-controller="LoungeInvitationController" ng-init="initInvitation()" data-lounge="{{ lounge.id }}">
            <div class="row">
                <div id="corps" class="col-md-12">
                    <h1>{{ 'lounge.title.invite'|trans({},translation_name~'lounge') }}</h1>
                    <p>{{ 'lounge.description.invite'|trans({},translation_name~'lounge') | raw }}</p>
                    <div class="row">
                        {% if visibility.social_network %}
                        <div class="col-sm-3 panel-body">
                            <a href="#" class="btn btn-primary btn-block btn-icon icon-user6" data-icon="icon-user6"
                               ng-click="openFriendsModal()"
                               np-submit-loader="!loaded">
                                {{ 'user.attributes.friends'|transchoice(2, {}, translation_name~'user') }} <i class="icon-arrow-right2"></i>
                                <div class="label-bulle"><span>{{ app.user.getFriends().count }}</span><i class="icon-bubble10"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-4 panel-body">
                            <a href="#" class="btn btn-primary btn-block btn-icon icon-users" data-icon="icon-users"
                               ng-click="openGroupsModal()"
                               np-submit-loader="!loaded"
                                    >{{ 'menu.my_groups'|trans({},translation_name~'group') }} <i class="icon-arrow-right2"></i>
                                <div class="label-bulle"><span>{{ app.user.getAllGroups.count }}</span><i class="icon-bubble10"></i>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-5 panel-body">
                            <a href="#" class="btn btn-primary btn-block icon-users4" data-icon="icon-users4"
                               ng-click="openMembersModal()">
                                {{ 'invite.members.title'|trans({}, translation_name~'main') }}
                            </a>
                        </div>
                        {% else %}
                            <div class="col-sm-6 panel-body">
                                <a href="#" class="btn btn-primary btn-block btn-icon icon-users" data-icon="icon-users"
                                        ng-click="openGroupsModal()"
                                        np-submit-loader="!loaded"
                                        >{{ 'menu.my_groups'|trans({},translation_name~'group') }} <i class="icon-arrow-right2"></i>
                                    <div class="label-bulle"><span>{{ app.user.getAllGroups.count }}</span><i class="icon-bubble10"></i>
                                    </div>
                                </a>
                            </div>

                            <div class="col-sm-6 panel-body">
                                <a href="#" class="btn btn-primary btn-block icon-users4" data-icon="icon-users4"
                                        ng-click="openMembersModal()">
                                    {{ 'invite.members.title'|trans({}, translation_name~'main') }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <h1>{{ 'lounge.title.invitenotmember'|trans({},translation_name~'lounge') }}</h1>
                    <p>{{ 'lounge.description.invitenotmember'|trans({},translation_name~'lounge') | raw }}</p>
                    <div class="row" class="clearfix" >
                        <div class="col-sm-5 panel-body">
                            <a href="#" class="btn btn-primary btn-block icon-envelop-opened" data-icon="icon-envelop-opened"
                               ng-click="openEmailModal()">
                                {{ 'invite.title'|trans({}, translation_name~'main') }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('naturapass_lounge_show', {loungetag: lounge.loungetag}) }}" class="btn btn-primary btn-right btn-icon icon-checkmark valid-invite">{{ 'lounge.action.access2'|trans({}, translation_name~'lounge') }}</a>
        </div>
    </div>


    {% include "NaturaPassLoungeBundle:Modal:angular.invite-friends.html.twig" %}
    {% include "NaturaPassLoungeBundle:Modal:angular.invite-groups.html.twig" %}
    {% include "NaturaPassLoungeBundle:Modal:angular.invite-email.html.twig" %}
    {% include "NaturaPassLoungeBundle:Modal:angular.invite-members.html.twig" %}

{% endblock corps %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts package='assetic' filter='?yui_js'
    'js/app/controllers/LoungeGroup/LoungeGroupInvitationController.js'
    'js/app/controllers/Lounges/LoungeInvitationController.js'
    'js/app/controllers/LoungeGroup/LoungeGroupModalControllers.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
