{% extends connect ? "NaturaPassMainBundle::layout.html.twig" : "NaturaPassMainBundle::layout-no-menu.html.twig" %}

{% block title %}{{ 'title.concours'|trans({},translation_name~'main') }} - {{ game.title }} | {{ parent() }}{% endblock %}
{% block description %}{{ game.getExplanationDescription() }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
    .container {
        position: relative;
        width: auto!important;
    }
    #corps-container {
            background: #8dbb1c;
        }
    @media (min-width: 768px){
        .container {
            width: 750px!important;
        }
    }
    @media (min-width: 992px){
        #corps-container {
            background: #8dbb1c url({{ asset('uploads/home_slide/page-concours.jpg') }}) center 40px no-repeat;
        }
        .container {
            width: 970px!important;
        }
    }
    @media (min-width: 1200px){
        #corps-container {
            background: #8dbb1c url({{ asset('uploads/home_slide/page-concours.jpg') }}) center 40px no-repeat;
        }
        .container {
            width: 1170px!important;
        }
    }
    </style>
{% endblock %}

{% block corps %}
        <div id="corps-container" class="large-container">
            <div class="container home-container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <img src="{{ asset('/uploads/home_slide/visuel-jeu-concours.jpg') }}" width="450" height="498" class="img-responsive center-block visible-sm-block visible-xs-block hidden-lg hidden-md" style="margin-bottom: 15px;">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="container-md register-container" ng-controller="RegisterController">
                            <h1>{{ 'home.register.title'|trans({},translation_name~'user') }}</h1>

                            {#<p class="text-center">
                                <button class="btn btn-fb btn-icon icon-facebook" data-icon="icon-facebook" np-submit-loader="loading" ng-click="fbRegister()">{{ 'home.register.connect'|trans({}, translation_name~'user') }}</button>
                            </p>#}

                            <p>{{ 'home.register.description'|trans({},translation_name~'user') }}</p>
                            {{ include("NaturaPassUserBundle:Registration:register_content_challenge.html.twig") }}
                        </div>
                        <div class="container-md app-container">
                            <a href="https://itunes.apple.com/fr/app/naturapass/id883300083?mt=8" title="Télécharger dans l'App Store" target="_blank"><img src="{{ asset("img/interface/mobile-app_store-fr.png") }}" title="Télécharger dans l'App Store" alt="Télécharger dans l'App Store" width="153" height="45"></a>
                            <a href="https://play.google.com/store/apps/details?id=fr.appsolute.naturapass" title="Disponible sur Google play" target="_blank"><img src="{{ asset("img/interface/mobile-google_play-fr.png") }}" title="Disponible sur Google play" alt="Disponible sur Google play" width="132" height="45"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% verbatim %}
        <div class="modal fade" id="modalChallenge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-if="game.type = 1 && game.challenge" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% endverbatim %}{{ 'button.close'|trans({},translation_name~'global') }}{% verbatim %}</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% endverbatim %}{{ 'concours.title.challenge'|trans({},translation_name~'main') }}{% verbatim %}</h4>
                    </div>
                    <div class="modal-body">
                        <div np-bind-html="game.challenge"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% endverbatim %}{{ 'button.close'|trans({},translation_name~'global') }}{% verbatim %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalRule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-if="game.reglement">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% endverbatim %}{{ 'button.close'|trans({},translation_name~'global') }}{% verbatim %}</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% endverbatim %}{{ 'concours.title.rule'|trans({},translation_name~'main') }}{% verbatim %}</h4>
                    </div>
                    <div class="modal-body">
                       <div np-bind-html="game.reglement"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% endverbatim %}{{ 'button.close'|trans({},translation_name~'global') }}{% verbatim %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endverbatim %}
{% endblock corps %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts package='assetic' filter='?yui_js'
    'js/app/controllers/Admin/Game/GameControllers.js'
    'js/app/controllers/User/RegisterController.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function(){
            $('.fancybox').fancybox();
        });
    </script>
    <script type="text/javascript">
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        var redirect = true;
        for (var i = 0; i < sURLVariables.length; i++)
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == "redirect")
            {
                redirect = false;
            }
        }
        if(redirect){
            if(navigator.userAgent.match(/iPhone|iPod/i)) {
                if (document.cookie.indexOf("ios_redirect=false") == -1) {
                    if(window.confirm("{{ 'home.ios'|trans({}, 'main')|raw }}")) {
                        window.location = 'https://itunes.apple.com/app/naturapass/id883300083?mt=8'
                    } else {
                        document.cookie="ios_redirect=false";
                    };
                }
            } else if(navigator.userAgent.match(/Android/i)) {
                if (document.cookie.indexOf("android_redirect=false") == -1) {
                    if(window.confirm("{{ 'home.android'|trans({}, 'main')|raw }}")) {
                        window.location = 'https://play.google.com/store/apps/details?id=fr.appsolute.naturapass'
                    } else {
                        document.cookie="android_redirect=false";
                    };
                }
            }
        }
    </script>
{% endblock javascripts %}
