{% extends "::base-page.html.twig" %}

{% block body %}
    <div class="corps-page">
        <div class="container">
            <div class="row">
                <section class="col-md-8">
                    {% block corps %}{% endblock corps %}
                </section>
                <aside class="col-md-4">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body" ng-controller="RegisterController" ng-cloak>
                                    <h3>Inscrivez vous<br>Gratuitement à naturapass</h3>

                                    <p class="text-center">
                                        <button class="btn btn-primary btn-block btn-icon icon-marker2" data-toggle="modal" data-target="#modal-register">S'inscrire à Naturapass</button>
                                    </p>

                                    <h3>Ou connectez-vous</h3>

                                    <p class="text-center">
                                        <button class="btn btn-primary btn-block btn-icon icon-enter3" ng-click="openLogin()">Se connecter à Naturapass</button>
                                    </p>
                                    {% if naturapass_facebook %}
                                        <p class="text-center">
                                            <button class="btn btn-fb btn-block btn-icon icon-facebook" data-icon="icon-facebook" np-submit-loader="loading" ng-click="fbRegister()">{{ 'home.register.connect'|trans({}, translation_name~'user') }}</button>
                                        </p>
                                    {% endif %}

                                    <div class="text-center"><img src="{{ asset('img/interface/free-fr.png') }}" alt="Entièrement gratuit"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12">
                            <p class="accroche">Profitez pleinement de Naturapass :<br><strong>téléchargez l’application !</strong></p>
                            <p><img src="{{ asset('img/global/phone-application.png') }}" alt="téléchargez l’application" width="255" height="195" class="img-responsive center-block"></p>
                            {% if visibility.store %}
                                <div class="row">
                                    <div class="col-xs-6 text-center"><a href="https://play.google.com/store/apps/details?id=fr.appsolute.naturapass" target="_blank"><img src="{{ asset('img/global/google-play.png') }}" alt="Google play" class="img-responsive"></a></div>
                                    <div class="col-xs-6 text-center"><a href="https://itunes.apple.com/fr/app/naturapass/id883300083?mt=8" target="_blank"><img src="{{ asset('img/global/app-store.png') }}" alt="Apple Store" class="img-responsive"></a></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    {% include 'NaturaPassUserBundle:Modal:angular.login.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts package='assetic' filter='?yui_js'
    'js/app/controllers/User/RegisterController.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript">
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        var redirect = true;
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == "redirect") {
                redirect = false;
            }
        }
        if (redirect) {
            if (navigator.userAgent.match(/iPhone|iPod/i)) {
                if (document.cookie.indexOf("ios_redirect=false") == -1) {
                    if (window.confirm("{{ 'home.ios'|trans({}, translation_name~'main')|raw }}")) {
                        window.location = "{{ app_store_link }}"
                    } else {
                        document.cookie = "ios_redirect=false";
                    }
                }
            } else if (navigator.userAgent.match(/Android/i)) {
                if (document.cookie.indexOf("android_redirect=false") == -1) {
                    if (window.confirm("{{ 'home.android'|trans({}, translation_name~'main')|raw }}")) {
                        window.location = "{{ play_store_link }}"
                    } else {
                        document.cookie = "android_redirect=false";
                    }
                }
            }
        }
        $(document).ready(function(){
            $('.slider-actu').bxSlider({
                pager    : true,
                controls : false,
                auto     : true,
                autoHover: true
            });

            $('.slider-videos').bxSlider({
                pager      : false,
                controls   : true,
                auto       : true,
                autoHover  : true,
                minSlides  : 2,
                maxSlides  : 2,
                slideWidth : 320,
                slideMargin: 10
            });

            $('.slider-concours').bxSlider({
                controls : false,
                auto     : true,
                autoHover: true
            });
        });
    </script>
{% endblock javascripts %}
