{% extends '::base-ng-template.html.twig' %}

{% block template_id %}modal.add-not-member.html{% endblock %}

{% block template_body %}
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4>{{ 'lounge.action.add_not_member.name'|trans({}, translation_name~'lounge') }}</h4>
    </div>
    <form class="form-horizontal" ng-submit="addMember()">
        <div class="modal-body">
            {% verbatim %}
            <div class="small-loading" ng-show="data.loading">
            </div>
            <div class="row" ng-hide="data.loading">
                {% endverbatim %}
                <div class="form-group">
                    <label for="firstname" class="col-sm-4 control-label">{{ 'user.attributes.firstname'|trans({},translation_name~'user') }}</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" required name="firstname" ng-model="newmember.firstname" placeholder="{{ 'user.attributes.firstname'|trans({},translation_name~'user') }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-4 control-label">{{ 'user.attributes.lastname'|trans({},translation_name~'user') }}</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="lastname" ng-model="newmember.lastname" placeholder="{{ 'user.attributes.lastname'|trans({},translation_name~'user') }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="publicComment" class="col-sm-4 control-label">{{ 'lounge.placeholder.publicComment'|trans({},translation_name~'lounge') }}</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="publicComment" ng-model="newmember.publicComment" placeholder="{{ 'lounge.placeholder.publicComment'|trans({},translation_name~'lounge') }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="privateComment" class="col-sm-4 control-label">{{ 'lounge.placeholder.privateComment'|trans({},translation_name~'lounge') }}</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="privateComment" ng-model="newmember.privateComment" placeholder="{{ 'lounge.placeholder.privateComment'|trans({},translation_name~'lounge') }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="participation" class="col-sm-4 control-label">{{ 'lounge.attributes.participe'|trans({},translation_name~'lounge') }}</label>

                    <div class="col-sm-8">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default btn-sm" ng-click="participationNoMember({{ PARTICIPATION_YES }})">
                                <input type="radio"  ng-click="participationNoMember({{ PARTICIPATION_YES }})" class="btn-participate">{{ 'lounge.state.participate.short'|transchoice(PARTICIPATION_YES,{}, translation_name~'lounge') }}
                            </label>
                            <label class="btn btn-default btn-sm active" ng-click="participationNoMember({{ PARTICIPATION_DONTKNOW }})">
                                <input type="radio"  ng-click="participationNoMember({{ PARTICIPATION_DONTKNOW }})" class="btn-participate">{{ 'lounge.state.participate.short'|transchoice(PARTICIPATION_DONTKNOW,{}, translation_name~'lounge') }}
                            </label>
                            <label class="btn btn-default btn-sm" ng-click="participationNoMember({{ PARTICIPATION_NO }})">
                                <input type="radio"   ng-click="participationNoMember({{ PARTICIPATION_NO }})" class="btn-participate">{{ 'lounge.state.participate.short'|transchoice(PARTICIPATION_NO,{}, translation_name~'lounge') }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-icon icon-paperplane" data-icon="icon-paperplane" np-submit-loader="data.loading">{{ 'button.add'|trans({}, translation_name~'global') }}</button>
            <button class="btn btn-danger" ng-click="cancel()" ng-class="{disabled: data.loading}">{{ 'button.close'|trans({}, translation_name~'global') }}</button>
        </div>
    </form>
{% endblock %}