{% verbatim %}
<div class="media media-list container-md" ng-repeat="distributor in entities" ng-cloak>
    <a ng-href="{{ params.routing.show | route:{distributor: distributor.id} }}" class="media-object pull-left"
       title="{{ distributor.name }}">
        <img class="media-object pull-left" ng-show="distributor.logo" ng-src="{{ distributor.logo.path }}" width="90" height="90">
        <img class="media-object pull-left" ng-hide="distributor.logo" ng-src="/img/interface/default-media.jpg" width="90" height="90">
    </a>
    <div class="media-body">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="media-heading">
                    <a ng-href="{{ 'admin_distributor_edit' | route: {distributor: distributor.id} }}">{{ distributor.name }}</a>
                </h4>
                <ul class="list-unstyled lounge-info">
                    <li class="icon-office"> {{ distributor.address }}, {{ distributor.cp }} {{ distributor.city }}</li>
                    <li class="icon-phone2"> {{ distributor.telephone }}</li>
                    <li class="icon-envelop"> {{ distributor.email }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-link">

        <div class="row row-btn">
            <div class="col-sm-4">
                <a ng-href="{{ 'admin_distributor_edit'|route: {distributor: distributor.id} }}" {% endverbatim %}
                   class="btn-access btn btn-primary btn-block">
                    {{ 'distributor.action.administer'|trans({}, translation_name~'distributor') }}
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" data-toggle="modal" class="btn-close btn btn-danger btn-block"
                   ng-click="openDeleteModal($index, distributor)"
                   np-submit-loader="distributor.loading">
                    {{ 'distributor.action.close'|trans({}, translation_name~'distributor') }}
                </a>
            </div>
        </div>

        {% verbatim %}
    </div>
</div>
{% endverbatim %}